.me-img {
  width: 200px;
  border-radius: 100%;
  margin-top: 50px;
}
.main-body {
  margin-top: 5vh;
  margin-bottom: 3vh;
  overflow-y: auto;
  width: 400vh;
  height: 75vh;
  background-color: #f0f0f5;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  justify-items: center;
}
/* Home.jsx */
.home-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
#ffcccc
#e6ccff
#ffffb3
#ccffcc
*/
@media (max-width: 767px) {
  .main-body {
    height: 100vh;
    width: 100vw;
  }
}
.my-name {
  font-size: 10vh;
  margin-bottom: 2vh;
}
.my-job {
  font-size: 3vh;
  margin-bottom: 2vh;
}
.me-icons {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
}
.s-icons {
  font-size: 1.5rem;
}
.s-icons:hover {
  color: #6d9ee8;
}
/* ********************About Me******************************  */
.span {
  color: #6d9ee8;
}
.about {
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.about-p {
  font-size: 1.2rem;
}

.btn-hire {
  background-color: #e6ccff;
}
/* Resume */
.resume {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 5vh;
  padding-left: 4vh;
}
.year h4 {
  font-size: 1rem;
}
.year h5 {
  font-size: 1.1rem;
  margin-bottom: 3vh;
}
.vl {
  border-left: 1px solid #6d9ee8;
  height: 20vh;
  width: 10px;
}
.desc h3 {
  font-size: 1rem;
  margin-bottom: 5vh;
}
.f-sect h1 {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.progress-container {
  width: 100%;
  margin: 40px 0;
}
.inside {
  background-color: #6d9ee8;
  width: 95%;
  height: 15px;
  border-radius: 20px;
  margin: 0px;
}
.inside-70 {
  background-color: #6d9ee8;
  width: 70%;
  height: 15px;
  border-radius: 20px;
}
.inside-50 {
  background-color: #6d9ee8;
  width: 60%;
  height: 15px;
  border-radius: 20px;
}
.progress {
  background-color: #cbc6cf;
}
.my-img {
  box-shadow: 10px 10px 5px rgb(137, 142, 144);
}
@media (max-width: 760px) {
  .my-img {
    display: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}
/* contact me */
.contact-image {
  width: 50vh;
  height: 50vh;
  border: none;
  border-radius: 10px;
  margin: 5px;
}
a {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
a i{
  margin-right: 5px;
}
.contact-btn {
  width: 100%;
  margin: 5px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  text-decoration: none;
}
.contact-btn:hover {
  color: #6d9ee8;
  border: 1px solid #6d9ee8;
}
.btns{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
